@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700;900&display=swap');
.logo{
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 1px;
}
.logo-link{
    text-decoration: none;
    color: #000000;
}