.header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 0.2fr;
    place-items: center;
}

.hamburgur-icon{
    display: none;
}
.nav-container-small-device{
    display: none;
}

@media only screen and (max-width: 580px){
    .hamburgur-icon{
        display: block;
    }

    .nav-links{
        display: none;
    }

    .search-bar{
        display: none;
    }
    .header{
        display: grid;
        grid-template-columns: 1fr 0.1fr 0.01fr;
        place-items: center start;
    }
    .nav-container-small-device{
        display: block;
        position: absolute;
        top: 39px;
        right: 1px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px;
        text-align: center;
        z-index: 100;
    }
}
