.hero-banner{
    background-image: url('../../../Assests/hero-banner.png');
    width: 100vw;
    height: 95vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-banner-content{
    position: absolute;
    top: 40%;
    left: 2%;
    color: #FFFFFF;
    width: 663px;

}

.hero-banner-mask{
    width: 100vw;
    height: 95vh;
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #000000, #FFFFFF);
    opacity: 0.3;
}
.hero__para{
    margin: 20px 0px;
}

@media only screen and (max-width: 568px){
    .hero-banner-content{
    position: absolute;
    }
    .hero-banner{
        height: 40vh;
    }
    .hero-banner-mask{
        height: 40vh;
    }
}